<% if session[:user_id] == nil %>
  <h1 class="emptyStoreMessage">NICE TRY!</h1> 
  <h2>You're not authorized to view database!</h2>

 <% admin = User.find(session[:user_id]).email %>
 <% elsif (admin != 'weldemicael.1@osu.edu')||(admin != 'yan.656@osu.edu')||(admin != 'asadi.7@osu.edu')||(admin != 'uppal.18@osu.edu') %>
        <h2 class="emptyStoreMessage">You are not admin!</h2>
  	<h4><%= link_to 'Login', login_path %></h4>
<% else %>

        <h1>Users Database</h1>
	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>

	<table>
	  <thead>
	    <tr>
	      <th>Email</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @users.each do |user| %>
	      <tr>
		<td><%= user.email %></td>
		<td><%= link_to 'Show', user %></td>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
		<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

	<br>

	<%= link_to 'New User', new_user_path %>

<% end %>
